body {
  background: white;
}
.title{
 background: #F0F0F0;
 color:grey;
 border-bottom: 2px solid grey;
}
#myBooks {
text-align: center;
}

#resultSearch {
border-top: 2px solid grey;
text-align: center;
}

button {
background-color:green;
height:40px;
width:120px;
color:white;
font-weight:bold;
}

#bt_cancel {
background-color:red;
}

#divformsearch  {
text-align:left;
}

#tabResult {
text-align:left;
}

input {
  box-sizing: border-box;
   width: 100%;
}

.grid {
display:grid;
grid-template-columns:20% 60% 20%;
}
